.o-contact-button {
  display: none;

  @include media-breakpoint-down(sm) {
    position: fixed;
    z-index: 50;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    transform: translateY(60px);
    transition: 0.5s all ease-in-out;
  }

  &.showClass {
    transform: translateY(0px);
  }

  &__area {
    @include media-breakpoint-down(sm) {
      display: flex;
      width: 49.5%;
      align-items: center;
      justify-content: space-evenly;
      padding: 0.5em;
      background-color: rgba($color: #477e42, $alpha: 0.8);
      color: #fff;
      font-size: 1.4rem;

      p {
        font-family: kan412typos-std, sans-serif;
        font-style: normal;
        font-weight: $font-demilight;
      }
    }
  }
}
