.c-hamburger {
  position: relative;
  width: 20px;
  border: 0;
  appearance: none;
  background: none;
  outline: none;

  span {
    position: absolute;
    right: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 1px;
    margin: auto;
    background-color: #fff;
    transition: all 0.3s ease-out;

    &:nth-of-type(1) {
      top: 30%;
    }

    &:nth-of-type(2) {
      top: 40%;
    }

    &:nth-of-type(3) {
      top: 50%;
    }
  }

  &.is_active {
    span {
      &:nth-of-type(1) {
        transform: translate3d(0, 4px, 0) rotate(-45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translate3d(0, -8px, 0) rotate(45deg);
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
