.o-nav-sp {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #477e42, $alpha: 1);
  opacity: 0;
  overflow-y: scroll;
  transform: translateY(-100%);
  transition: all 0.3s ease-out;
  visibility: hidden;

  @include media-breakpoint-down(sm) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is_active {
    z-index: 99;
    padding: 50px 0;
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
  }

  &__list {
    text-align: center;
  }

  &__item {
    margin-bottom: 2em;
    color: #fff;
  }

  &__block {
    display: none;

    @include media-breakpoint-down(sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__tel {
    @include media-breakpoint-down(sm) {
      display: block;
      margin-right: 0.5em;
    }
  }

  &__mail {
    @include media-breakpoint-down(sm) {
      display: block;
      margin-right: 0.5em;
    }
  }

  &__menu {
    display: none !important;

    @include media-breakpoint-down(sm) {
      z-index: 999;
      display: block !important;
      width: 50px !important;
      height: 50px !important;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }

    &.is_active {
      span {
        background-color: #fff !important;

        &:nth-of-type(1) {
          top: 25% !important;
        }
      }

      p {
        color: #fff !important;
      }
    }
  }

  &__hidden-inner {
    min-width: auto;
    max-width: calc(500px + 4rem);
    height: 100%;
    padding: 0 2rem;
    margin: 0 auto;
  }

  &__hidden-logo {
    text-align: center;
  }

  &__hidden-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 1em;
    color: #fff;

    &--tel {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: space-evenly;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        text-align: center;
      }
    }

    &--mail {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: space-evenly;

      @include media-breakpoint-down(sm) {
        flex-direction: column;
        text-align: center;
      }
    }

    p {
      font-family: kan412typos-std, sans-serif;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: $font-demilight;

      @include media-breakpoint-down(sm) {
        margin-top: 0.5em;
      }
    }
  }

  &__hidden-area {
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }

  &__hidden-list {
    min-width: auto;
    max-width: calc(400px + 4rem);
    padding: 0 3rem;
    margin: 0 auto;
    color: #fff;
  }

  &__hidden-item {
    margin-bottom: 2em;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      font-size: 1.6rem;
    }

    span {
      display: inline-block;
      font-size: 1.4rem;
      //   text-indent: 1em;
    }
  }

  &__hidden-sns-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0 100px;
  }

  &__hidden-sns-item {
    margin: 0 1em;
  }
}
