.o-nav {
  @include media-breakpoint-down(md) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-right: 1.5em;
    color: #666666;
    font-size: 1.4rem;
    line-height: 1;

    &::before {
      display: inline-block;
      width: 1px;
      height: 1em;
      margin-right: 1.5em;
      background-color: #666666;
      content: '';
    }

    span {
      &.current {
        display: block;
        padding: 0 0.5em;
        background-image: linear-gradient(
          to bottom,
          transparent 50%,
          #dceede 50%
        );
      }
    }
  }
}

// footer内ナビゲーションのスタイル
.o-footer {
  .o-nav {
    &__list {
      max-width: calc(600px + 6rem);
      padding: 0 3rem;
      margin: 1em auto 3em;
    }

    &__item {
      &:first-child {
        &::before {
          content: none;
        }
      }

      span {
        &.current {
          display: inline;
          padding: 0;
          background-image: none;
        }
      }
    }
  }
}
