.contact {
  padding-top: 70px;
  padding-bottom: 70px;

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__green {
    color: #2a581f;
  }

  &__paragraph {
    max-width: 720px;
    margin: 0 auto 2em;
  }

  &__link {
    text-decoration: underline solid #2a581f;
  }

  &__mail {
    font-size: 2rem;
    text-align: center;
  }
}
