.c-course-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &__item {
    margin: 20px;

    @include media-breakpoint-down(sm) {
      margin: 0.5em 0;
    }
  }

  &__link img {
    &:hover {
      opacity: 0.7;
      transition: all 0.3s ease-out;
    }
  }
}
