.course {
  padding-top: 60px;
  padding-bottom: 100px;

  @include media-breakpoint-down(sm) {
    padding-top: 1em;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__link {
    width: 100%;
    margin: 0 1em 2em;

    @include media-breakpoint-down(sm) {
      margin: 0 0 2em;
    }
  }

  &__item {
    position: relative;
    padding-top: 60%;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    transform-origin: center center;

    &::after {
      position: absolute;
      top: calc(100% - -10px);
      left: calc(50% - 10px);
      width: 0;
      height: 0;
      border: solid transparent;
      border-top-color: #2a581f;
      border-width: 10px;
      content: ' ';
      opacity: 0.7;

      @include media-breakpoint-down(sm) {
        top: calc(100% - 20px);
        border-top-color: #fff;
        opacity: 0.7;
      }
    }
  }

  &__bg {
    position: relative;
    padding: 100px 0 130px;

    &--01 {
      background-color: #eeecea;
    }

    &--02 {
      background-color: #fff;
    }

    &--03 {
      background-color: #ecf3e9;
    }
  }

  &__title-area {
    position: absolute;
    top: -2.5%;
    right: 0;
    left: 0;
    margin: auto;

    @include media-breakpoint-down(sm) {
      top: -2%;
    }
  }

  &__title {
    font-size: 3rem;
    text-align: center;

    &::after {
      display: block;
      width: 20px;
      height: 12px;
      margin: 0 auto;
    }

    &--01 {
      &::after {
        content: url(../img/course/food-icon.png);
      }
    }

    &--02 {
      &::after {
        content: url(../img/course/mind-icon.png);
      }
    }

    &--03 {
      &::after {
        content: url(../img/course/idea-icon.png);
      }
    }

    &--en {
      color: #2a581f;
      font-size: 1rem;
      text-align: center;
    }
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2em;
    }

    &--left {
      width: 40%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        text-align: center;
      }
    }

    &--right {
      width: 60%;

      @include media-breakpoint-down(md) {
        width: 55%;
      }

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__dean-greeting {
    &--pc {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &--sp {
      display: none;

      @include media-breakpoint-down(sm) {
        display: block;
        margin-bottom: 2em;
      }
    }
  }

  &__dean-en {
    font-size: 1.4rem;

    @include media-breakpoint-down(sm) {
      margin-top: 2em;
    }
  }

  &__dean-name {
    margin-bottom: 50px;
    font-size: 2rem;

    @include media-breakpoint-down(sm) {
      margin-bottom: 1em;
    }
  }

  &__text {
  }

  &__green {
    color: #2a581f;
  }
}
