.hero {
  display: flex;
  height: 280px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faf8e5;
  background-image: url(../img/common/bg-hero-illust.png),
    url(../img/common/bg-hero-cloud_left.png),
    url(../img/common/bg-hero-cloud_right.png);
  background-position: center center, center left, center right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: auto, contain, contain;

  @include media-breakpoint-down(sm) {
    height: 120px;
    margin-top: 60px;
    background-image: url(../img/common/bg-hero-illust_sp.png),
      url(../img/common/bg-hero-cloud_left_sp.png),
      url(../img/common/bg-hero-cloud_right_sp.png);
    background-position: center center, center left, center right;
    background-size: auto, auto, auto;
  }

  &__title {
    position: relative;
    overflow: hidden;
    height: 3em;
    padding: 0 20%;
    color: #483419;
    font-size: 3.6rem;
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      font-size: 2.2rem;
    }

    &::after {
      display: block;
      width: 31px;
      height: 19px;
      margin: 0 auto;
      content: url(../img/common/hero-icon.png);

      @include media-breakpoint-down(sm) {
        width: 20px;
        height: 12px;
      }
    }
  }

  &__en {
    font-size: 1rem;
  }
}
