.c-news-list {
  width: 770px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  color: $color-text_news;
  list-style: none;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }

  &__item {
    padding: 1em 0;
    letter-spacing: 0.1em;

    @include media-breakpoint-down(sm) {
      padding: 1em 0;
      letter-spacing: 0;
    }
  }

  &__block {
    display: flex;
    font-size: 1.4rem;
    letter-spacing: 0.2em;

    @include media-breakpoint-down(sm) {
      letter-spacing: 0;
    }
  }

  &__time {
    margin-right: 1em;
    color: #638459;

    @include media-breakpoint-down(sm) {
      width: 100px;
      margin-right: 0.5em;
    }
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @include media-breakpoint-down(sm) {
      width: 100%;
      max-height: 1.5em;
    }

    * {
      overflow: hidden;
      text-overflow: inherit;
      white-space: inherit;
    }
  }
}
