.page-link {
  padding-top: 80px;
  padding-bottom: 130px;

  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 75px;
  }

  &__to {
    position: relative;
    display: flex;
    width: 300px;
    height: 130px;
    align-items: center;
    justify-content: center;
    background-image: url(../img/contact/bg-question.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      &:nth-child(1) {
        margin-bottom: 2em;
      }
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    &--left {
      &::after {
        position: absolute;
        top: calc(100% - -10px);
        left: calc(50% - 10px);
        width: 0;
        height: 0;
        border: solid transparent;
        border-top-color: #2a581f;
        border-width: 10px;
        content: ' ';

        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    &--right {
      &::after {
        position: absolute;
        top: calc(100% - -10px);
        left: calc(50% - 10px);
        width: 0;
        height: 0;
        border: solid transparent;
        border-top-color: #2a581f;
        border-width: 10px;
        content: ' ';
      }
    }
  }

  &__en {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }

  &__type {
    &::after {
      display: block;
      width: 20px;
      height: 13px;
      margin: 0 auto;
      content: url(../img/common/contact-icon.png);
    }
  }
}
