.question {
  &__green {
    color: #2a581f;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__link {
    width: 48%;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &__item {
    position: relative;
    padding: 1em 3em;
    margin-bottom: 1em;
    background-color: #f3f2e9;
    text-align: center;

    &::after {
      position: absolute;
      top: 50%;
      right: 10%;
      width: 0;
      height: 0;
      border: solid transparent;
      border-top-color: #638459;
      border-width: 10px;
      content: ' ';

      @include media-breakpoint-down(sm) {
      }
    }
  }

  &__answer-area {
    &::before {
      display: block;
      width: 31px;
      height: 19px;
      margin: 2em auto;
      content: url(../img/common/hero-icon.png);

      @include media-breakpoint-down(sm) {
      }
    }
  }

  &__answer-box {
    position: relative;
    padding: 2em 3em;
    margin-bottom: 2em;
    background-color: #f3f2e9;

    @include media-breakpoint-down(sm) {
      padding: 1em;
    }

    dl {
      padding: 2em;
      background-color: #fff;

      @include media-breakpoint-down(sm) {
        padding: 1em;
      }
    }

    dt {
      padding-bottom: 1em;
      padding-left: 2em;
      border-bottom: 3px solid #f3f2e9;
      color: #483419;
      font-size: 1.8rem;
      text-indent: -2em;
    }

    dd {
      padding: 1em 0 0 2.5em;
      margin-left: 0;
      color: #483419;
      text-indent: -2.5em;

      @include media-breakpoint-down(sm) {
        padding-left: 2em;
        text-indent: -2em;
      }
    }
  }

  &__answer-title {
    font-size: 2rem;
    text-align: center;
  }

  &__span {
    padding-right: 1em;
    font-size: 2rem;
    font-weight: bold;

    @include media-breakpoint-down(sm) {
      padding-right: 0.5em;
    }
  }
}
