.report {
  padding-top: 70px;
  padding-bottom: 100px;

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.4rem;
    font-weight: normal;
    text-align: center;

    @include media-breakpoint-down(sm) {
      margin: 1em 0;
    }

    &::before {
      display: inline-block;
      margin-right: 5%;
      content: url(../img/common/cloud-gray.png);
      vertical-align: middle;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &::after {
      display: inline-block;
      margin-left: 3%;
      content: url(../img/common/cloud-gray.png);
      vertical-align: middle;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__green {
    color: #2a581f;
  }

  &__bottom {
    margin-top: 100px !important;

    @include media-breakpoint-down(sm) {
      margin-top: 0 !important;
    }
  }
}
