.sns-area {
  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1em;
    color: #174286;
    font-family: $Mamelon-font;
    font-size: 2rem;
    letter-spacing: 0.1em;
    text-align: center;
  }

  &__timeline {
    border: 1px solid #174286;

    @include media-breakpoint-down(md) {
      margin-bottom: 1em;
    }
  }

  .fb-page {
    display: block !important;
    width: 100%;
    max-width: 450px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  &__bottom {
    margin-top: 90px;

    @include media-breakpoint-down(sm) {
      margin-top: 40px;
    }
  }

  &__post {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    p {
      width: 230px;
      height: 230px;
      border: 1px solid #000;
      margin: 0 1em 1em;
    }
  }
}
