// Color palette
$color-brand: #477f42;

$sp-nav: #f4f4f4;

// Text
$color-text: #000;
$color-green: #477f42;

// Links
$color-link: #3f2b00;
$color-link-hover: #3f2b00;

$bg-white: #fff;
$bg-black: #000;
