@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans CJK JP Regular'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: bold;
  font-weight: 700;
  src: local('Noto Sans CJK JP Bold'),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2)
      format('woff2'),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff)
      format('woff'),
    url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf)
      format('opentype');
}

$ffg: 'Noto Sans JP', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3',
  'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;

$font-light: 300;
$font-demilight: 400;
$font-mideum: 500;
$font-bold: 700;
$font-black: 900;
