.o-footer {
  padding-top: 70px;
  background-image: url(../img/footer/bg-footer_left.png),
    url(../img/footer/bg-footer_right.png);
  background-position: center left, top right;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;

  @include media-breakpoint-down(sm) {
    background-image: url(../img/footer/bg-footer_left_sp.png),
      url(../img/footer/bg-footer_right_sp.png);
  }

  &__logo {
    text-align: center;
  }

  &__link-area {
    margin: 50px 0;
  }

  &__nav-lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-down(lg) {
      justify-content: flex-start;
    }
  }

  &__nav-list {
    margin: 0 0.5em;
  }

  &__nav-item {
    font-weight: bold;
  }

  &__bannar-area {
    margin-bottom: 30px;
  }

  &__bannar-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__bannar-list {
    @include media-breakpoint-down(md) {
      margin: 0.5em 0;
    }
  }

  &__copy {
    padding: 2em;
    background-color: #483419;
    color: $color-white;
    text-align: center;

    @include media-breakpoint-down(sm) {
      padding: 1em;
    }
  }
}
