.o-header {
  position: absolute;
  z-index: $zindex-header;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;

  @include media-breakpoint-down(sm) {
    position: fixed;
    background: rgba(#fff, 0.9);
    opacity: 1;
    visibility: visible;
  }

  &.visible {
    opacity: 1;
    transition: all 1s ease-out;
    visibility: visible;
  }

  &__logo {
    margin: 0;
    line-height: 1;

    @include media-breakpoint-down(sm) {
      margin-left: 0.5em;
    }
  }

  &__inner {
    display: flex;
    max-width: 1370px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1em 1.5em;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      align-items: center;
      padding: 0;
    }
  }

  &__nav {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__col {
    display: none;
    width: 60px;
    height: 60px;

    @include media-breakpoint-down(sm) {
      display: block;
      border: 0;
      appearance: none;
      transition: all 0.5s ease;
    }
  }

  &__button {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    border: 0;
    appearance: none;
    background-color: #726149;

    &--bar {
      position: absolute;
      right: 0;
      left: 0;
      width: 20px;
      height: 2px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 2px;
      transition: all 0.5s ease;

      &:nth-of-type(1) {
        top: 22px;
      }

      &:nth-of-type(2) {
      }

      &:nth-of-type(3) {
        bottom: 20px;
      }
    }
  }

  &__button.open {
    .o-header__button--bar01 {
      top: auto;
      transform: translateY(1px) rotate(-45deg);
    }

    .o-header__button--bar02 {
      opacity: 0;
    }

    .o-header__button--bar03 {
      bottom: auto;
      transform: translateY(1px) rotate(45deg);
    }
  }

  &__nav-lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }

  &__nav-list {
    margin-left: 2em;

    @include media-breakpoint-down(md) {
      margin-left: 0.5em;
    }

    &.current {
      color: #2a581f;
    }
  }

  &__nav-item {
    font-size: 1.4rem;
    font-weight: bold;
  }
}
