// 全ての要素をborder-boxにリセット
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  position: relative;
  width: 100%;
  color: $color-text;
  font-display: swap;
  font-family: $ffg;
  font-size: 62.5%; // 10px
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  // scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  font-family: $ffg;
  font-size: 1.6rem; // 16px
  line-height: 1.5;
  overflow-x: hidden;
  // background-color: $color-body;
}

img,
svg {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

iframe {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s ease-out;

  @include media-breakpoint-up(md) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:hover {
    color: inherit;
  }

  &:visited {
    color: inherit;
  }

  &:focus {
    outline: none;
  }
}

p {
  margin: 0;
}

p + p {
  margin-top: 1em;
}

small {
  font-size: 80%;
}

button {
  outline: none;
}

ul,
ol {
  // padding-left: 1.5em;
  padding: 0;
  margin: 0;
  list-style: none;

  ul,
  ol,
  li + li {
    margin: 0;
  }
}

.page {
  margin: 0;
}

// アイキャッチ画像のIEとEdge対応
.attachment-post-thumbnail {
  font-family: 'object-fit: cover; object-position: 0 100%;';
  object-fit: cover;
  object-position: center;
}

// 今回使用するフォント
// @font-face {
// 	font-family: $hiragino;
// 	src: url(../font/ヒラギノ角ゴシックW4.otf) format('opentype');
// }

// @font-face {
// 	font-family: hiragino_w6;
// 	src: url(../font/ヒラギノ角ゴシックW6.otf) format('opentype');
// }

// @font-face {
// 	font-family: hiragino_w8;
// 	src: url(../font/ヒラギノ角ゴシックW8.otf) format('opentype');
// }
