$white: #fff;
$brown: #483419;
$purple: #884658;
$green: #2a581f;
$blue: #1d50a2;
$cleam: #f3f2e9;

// Text
$color-text: #222;
$color-text_news: #333;
$color-text_green: $green;
$color-white: $white;
$color-gray: #eeecea;
$color-header: #faf8e5;
$color-nav: #483419;

// Links
$color-link: #3f2b00;
$color-link-hover: #3f2b00;

$bg-white: #fff;
$bg-black: #000;
$hero-bg: #c0aa96;
$bg-map: #f0f0f0;

$border-link: #ccc;
$nav-border: #dedad6;
