// font family
$ffg: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',
  'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;

$ffm: Yu Mincho, '游明朝', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'HG明朝E',
  'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif;

$Mamelon-font: Mamelon, $ffg;
