.c-about {
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
  }

  &__section {
    position: relative;
  }

  &__inner {
    padding-top: 3em;

    @include media-breakpoint-down(sm) {
      padding-top: 5em;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: $color-green;
    font-size: 3rem;
    font-weight: $font-mideum;
  }

  &__text {
    line-height: 2;
  }

  &__to-mission {
    padding: 2em 0;
    text-align: center;

    a {
      padding: 0.5em 2em;
      background: linear-gradient(to bottom, #47a73e, #477f41) !important;
      border-radius: 2em;
      color: #fff;
      font-size: 1.8rem;
      font-weight: $font-light;
    }
  }

  &__overview {
    padding: 2em 0;

    h3 {
      color: $color-green;
      font-size: 1.8rem;
    }
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    &--bottom {
      align-items: flex-end;
    }
  }

  &__slider {
    position: relative;
    width: 48%;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 3em;
    }

    /* 全体のスタイル */
    .swiper-wrapper {
      width: 100%;
    }

    /* 全スライド共通スタイル */
    .swiper-slide {
      width: 100%;
      height: 100%;
      outline: 3px solid #e7ede7;
      outline-offset: -3px;
      text-align: center;
    }

    .swiper-pagination {
      right: 0;
      left: 0;
      margin: auto;
    }

    .swiper-pagination-bullet {
      margin: 0 5px;
      outline: none;
    }

    .swiper-pagination-bullet-active {
      background: $color-green;
    }
  }

  &__table {
    width: 48%;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    table {
      width: 100%;
      border: 1px solid #e7ede7;
      margin: 0 auto;
      border-collapse: collapse;
      font-size: 1.4rem;
    }

    .table01 {
      th {
        padding: 1em;
        border: 1px solid #e7ede7;
        background-color: #f5f8f6;
        font-weight: $font-light !important;

        @include media-breakpoint-down(sm) {
          display: block;
          width: 100%;
          text-align: center;
        }
      }

      td {
        padding: 1em;
        border: 1px solid #e7ede7;
        background-color: #fff;
        font-weight: $font-light !important;

        @include media-breakpoint-down(sm) {
          display: block;
          width: 100%;
          text-align: center;
        }

        a {
          padding: 2px;
          border-bottom: 1px solid $color-green;
          color: $color-green;
        }
      }
    }

    .table02 {
      th {
        display: block;
        width: 100%;
        padding: 1em;
        border: 1px solid #e7ede7;
        background-color: #f5f8f6;
        font-weight: $font-light !important;
        text-align: center;

        @include media-breakpoint-down(sm) {
        }
      }

      td {
        display: block;
        width: 100%;
        padding: 1em;
        border: 1px solid #e7ede7;
        background-color: #fff;
        font-weight: $font-light !important;
      }
    }

    p {
      margin-bottom: 0.5em;
      text-align: center;
    }
  }

  &__access {
    padding: 2em 0;

    h3 {
      color: $color-green;
      font-size: 1.8rem;
    }
  }

  &__image {
    width: 48%;

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-bottom: 2em;
      text-align: center;
    }
  }

  &__map {
    position: relative;
    padding-bottom: 3em;

    iframe {
      width: 100%;
    }
  }
}
