.c-contact {
  padding: 3em 0;
  background-color: #dceede;

  &__text {
    margin-bottom: 2em;
    font-size: 1.4rem;
    line-height: 2;
    text-align: center;
  }

  &__form {
    min-width: auto;
    max-width: calc(500px + 120px);
    padding: 0 60px;
    margin: 0 auto;

    @include media-breakpoint-down(sm) {
      max-width: calc(500px + 4rem);
      padding: 0;
    }

    // start reset form parts.
    .row {
      margin: 0 !important;
    }

    .col-sm-12 {
      padding: 0 !important;
    }

    label {
      font-size: 1.4rem;
      font-weight: $font-demilight !important;
    }

    & .form-name {
      input {
        height: 4em;
      }
    }

    & .form-phone_number {
      input {
        height: 4em;
      }
    }

    & .form-mail_address {
      input {
        height: 4em;
      }
    }

    & .form-contents {
      overflow: hidden;
    }

    & .form-send {
      display: block !important;
      padding: 1em 7em !important;
      border: none !important;
      margin: 2em auto;
      appearance: none !important;
      background: linear-gradient(to bottom, #47a73e, #477f41) !important;
      border-radius: 2em !important;
      color: #fff !important;
      outline: none !important;
    }

    & .alert,
    .alert-success {
      text-align: center;
    }
    // fin reset form parts.
  }

  &__info {
    color: #666666;
    font-size: 1.4rem;
    text-align: center;

    .tel {
      background: linear-gradient(to bottom, #47a73e, #477f41);
      -webkit-background-clip: text;
      color: #477f41;
      font-size: 2.4rem;
      font-weight: $font-black;
      -webkit-text-fill-color: transparent;
    }

    p {
      margin-top: 1em;
    }

    p + p {
      margin-top: 0;
    }
  }
}
