.c-interview-single {
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
  }

  &__inner {
    padding: 3em 0;

    @include media-breakpoint-down(sm) {
      padding-top: 5em;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: $color-green;
    font-size: 3rem;
    font-weight: $font-mideum;

    @include media-breakpoint-down(sm) {
    }
  }

  &__text {
    line-height: 2;
    word-break: break-all;
  }

  // brand
  &__user-box {
    padding: 4em 0;

    @include media-breakpoint-down(sm) {
      padding: 2em 0;
    }
  }

  &__user-area {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    &--left {
      width: 35%;

      @include media-breakpoint-down(sm) {
        width: 100%;
        margin-bottom: 2em;
      }
    }

    &--right {
      width: 60%;

      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }

  &__brand-user {
    color: $color-green;
    font-size: 1.8rem;
    font-weight: $font-black;
  }

  &__brand-logo {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 3px solid #e7ede7;

    img {
      max-height: 180px;

      @include media-breakpoint-down(sm) {
        max-height: auto;
      }
    }
  }

  &__brand-name {
    margin: 0 0 0.5em;
    font-weight: $font-light;

    span {
      background-image: linear-gradient(
        to bottom,
        transparent 50%,
        #dceede 50%
      );
    }
  }

  &__brand-number {
    color: #666666;
    font-size: 1.4rem;
  }

  &__brand-text {
    line-height: 2;
  }

  // interview
  &__interview-box {
  }

  &__interview-shape-area {
    position: relative;
    padding: 2.65% 0 5.35%;
  }

  &__interview-head {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 60px;

    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__interview-sec-title {
    margin: 0;
    color: $color-green;
    font-size: 1.8rem;
    font-weight: $font-black;
  }

  &__interview-time {
    font-size: 1.2rem;
  }

  &__interview-top {
    position: relative;
    z-index: 1;
  }

  &__interview-title {
    font-size: 3rem;
    font-weight: $font-light;
    text-align: center;

    @include media-breakpoint-down(sm) {
      font-size: 2.4rem;
    }
  }

  &__interview-main-image {
    text-align: center;
  }

  &__interview-user {
    font-size: 1.8rem;
    font-weight: $font-light;
    text-align: right;

    @include media-breakpoint-down(sm) {
      font-size: 1.4rem;
    }

    span {
      display: inline-block;
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__interview-body {
    position: relative;
    z-index: 1;
  }

  &__interview-intro {
    margin-bottom: 3em;
    text-align: center;
  }

  &__interview-faq {
    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__interview-faq-question {
    padding-left: 1em;
    color: $color-green;
    font-size: 1.8rem;
    text-indent: -1em;

    &::before {
      position: relative;
      bottom: 3px;
      display: inline-block;
      width: 0.5em;
      height: 0.5em;
      margin-right: 0.5em;
      background-color: $color-green;
      border-radius: 50%;
      content: '';
    }
  }

  &__interview-faq-answer {
    padding: 1em;
    background-color: #fff;

    @include media-breakpoint-down(sm) {
      padding: 0.5em;
    }
  }

  &__interview-faq-file {
    margin-top: 2em;
    text-align: center;
  }
}
