.c-topics-single {
  position: relative;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
  }

  &__inner {
    padding: 3em 0;

    @include media-breakpoint-down(sm) {
      padding-top: 5em;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: $color-green;
    font-size: 3rem;
    font-weight: $font-mideum;

    @include media-breakpoint-down(sm) {
    }
  }

  // head
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2em;
    border-bottom: 1px solid #bebebe;
  }

  &__time {
    font-weight: $font-demilight;
  }

  &__category {
    width: 130px;
    padding: 0.3em 0;
    background-color: $color-green;
    border-radius: 0.7em;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;

    @include media-breakpoint-down(sm) {
      width: 100px;
    }

    &.news {
      background-color: $color-green;
    }

    &.lecture {
      background-color: #4094a9;
    }
  }

  // body
  &__body {
  }

  &__article-title {
    font-size: 2.8rem;
    font-weight: $font-demilight;
  }

  &__article-contents {
    padding-bottom: 3em;

    table {
      width: 100%;
      border: 1px solid #e7ede7;
      margin: 3em auto;
      border-collapse: collapse;
      font-size: 1.4rem;

      th {
        width: 140px;
        padding: 1em;
        border: 1px solid #e7ede7;
        background-color: #f5f8f6;
        font-weight: $font-light !important;

        @include media-breakpoint-down(sm) {
          display: block;
          width: 100%;
          text-align: center;
        }
      }

      td {
        padding: 1em;
        border: 1px solid #e7ede7;
        background-color: #fff;
        font-weight: $font-light !important;

        @include media-breakpoint-down(sm) {
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }

    img {
      display: block;
      margin: 3em auto;
    }

    a {
      padding-bottom: 3px;
      border-bottom: 1px solid $color-green;
      color: $color-green;
    }
  }

  // foot
  &__foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    border-top: 1px solid #bebebe;
  }

  &__none {
    width: 120px;
    height: 40px;

    @include media-breakpoint-down(sm) {
      width: 80px;
    }
  }

  &__foot-item {
    a {
      padding: 0.5em 1.5em;
      background-color: $color-green;
      border-radius: 0.5em;
      color: #fff;
      text-align: center;

      @include media-breakpoint-down(sm) {
        padding: 0.5em;
      }
    }
  }

  &__prev {
    display: flex;
    align-items: center;

    a {
      margin-left: 1em;

      @include media-breakpoint-down(sm) {
        margin-left: 0.5em;
      }
    }

    &:before {
      display: inline-block;
      width: 0;
      height: 0;
      border-color: transparent $color-green transparent transparent;
      border-style: solid;
      border-width: 10px 16px 10px 0;
      content: '';
    }
  }

  &__back {
    @include media-breakpoint-down(sm) {
    }
  }

  &__next {
    display: flex;
    align-items: center;

    a {
      margin-right: 1em;

      @include media-breakpoint-down(sm) {
        margin-right: 0.5em;
      }
    }

    &::after {
      display: inline-block;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent $color-green;
      border-style: solid;
      border-width: 10px 0 10px 16px;
      content: '';
    }
  }
}
