%arrow {
  position: relative;
  width: 25px;
  height: 25px;

  &::before {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 4px);
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 1px solid #7b7b7b;
    border-bottom: 1px solid #7b7b7b;
    content: '';
    transform: rotate3d(0, 0, 1, 45deg);
    transition: all 0.2s ease-out;
  }
}
