.c-sample {
	position: relative;
	height: 1000px;

	&__bg-image {
		margin: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: absolute;
		background-image: url(../img/common/background-sample01.jpg);
		background-size: cover;
		background-position: top;
		-webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
		filter: blur(6px);
		opacity: 0.5;
		z-index: -1;
	}

	&__blob-cont {
		position: relative;
		// width: 100vw;
		// height: 100vh;
		width: 100%;
		height: 100%;

		image {
			top: 0;
			left: 0;
			position: absolute;
			filter: blur(6px);
		}
	}

	@for $i from 1 through 18 {
		$a: #{$i*90};
		$b: #{$i*90+360};

		.blob:nth-child(#{$i}) {
			animation: move#{$i} 20s infinite linear;
		}

		// @keyframes move#{$i} {
		// 	from {
		// 		transform: rotate(#{$a}deg) translate(200px, 0.1px) rotate(-#{$a}deg);
		// 	}
		// 	to {
		// 		transform: rotate(#{$b}deg) translate(200px, 0.1px) rotate(-#{$b}deg);
		// 	}
		// }
	}

	.HeroText {
		stroke: white;
		fill: white;
		animation-name: kv_C;
		animation-duration: 5s;
		animation-timing-function: ease-in-out;
		animation-delay: 1s;
		animation-iteration-count: infinite;
		transform-origin: center center;
		transform-box: fill-box;

		@keyframes kv_C {
			0%   { transform: rotate( 0deg ); }
			25%   { transform: rotate( -90deg ); }
			50%   { transform: rotate( -180deg ); }
			75%   { transform: rotate( -270deg ); }
			100% { transform: rotate( -360deg ); }
		}
	}
}
